In [20]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [21]:
# Read the CSV file from the Resources folder into a Pandas DataFrame


credit_risk_df = pd.read_csv(
    Path("Resources/lending_data.csv")
)

# Review the DataFrame
credit_risk_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [22]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = credit_risk_df['loan_status']

# Separate the X variable, the features
X = credit_risk_df.drop(columns=['loan_status'])

In [23]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [24]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [25]:
# Check the balance of our target values
label_counts = y.value_counts()
print(label_counts)

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [26]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [27]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [28]:
# Make a prediction using the testing data

y_pred = lr_model.predict(X_test)


# Reset the index remove the old index and replacing it with a new numeric index starting from zero.
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results

       Prediction  Actual
0               0       0
1               0       1
2               0       0
3               1       1
4               0       0
...           ...     ...
19379           0       0
19380           0       0
19381           0       0
19382           0       0
19383           0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [29]:
# Print the balanced_accuracy score of the model

y_pred = lr_model.predict(X_test)
balanced_acc = balanced_accuracy_score(y_test, y_pred)

print("Balanced Accuracy Score:", balanced_acc)

Balanced Accuracy Score: 0.9458257954910694

In [30]:
# Generate a confusion matrix for the model

test_matrix = confusion_matrix(y_test, y_pred)

# Print the confusion matrix for the testing data
print(test_matrix)

[[18683    92]
 [   63   546]]

In [31]:
# Print the classification report for the model
# Create and save the testing classification report
testing_report = classification_report(y_test, y_pred)

# Print the testing classification report
print(testing_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18775
           1       0.86      0.90      0.88       609

    accuracy                           0.99     19384
   macro avg       0.93      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model shows a strong performance in classifying healthy loans (label 0) with 100% precision. This means that the model rarely classifies loans as healthy when they are not. Additionally, the model has a high recall of 100%, indicating that the vast majority of healthy loans are correctly identified.

In the case of high-risk loans (label 1), the model has an 86% precision, meaning that most loans classified as high-risk are accurate. The recall for this label is 90%, indicating that the model is effective in identifying high-risk loans, although there may be some false positives. Overall, the model's F1-score is 88%, reflecting a balance between precision and recall. 

The model achieves an overall accuracy of 99%, meaning that 99% of the predictions are correct. In summary, the logistic regression model demonstrates good performance in classifying both healthy and high-risk loans, with a high degree of precision and recall.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [32]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

In [33]:
# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(sampling_strategy='auto', random_state=1)
X_resampled, y_resampled = ros.fit_resample(X, y)

# Fit the original training data to the random_oversampler model
lr_model = LogisticRegression()
lr_model.fit(X_resampled, y_resampled)

LogisticRegression()

In [34]:
# Count the distinct values of the resampled labels data
value_counts_y = y_resampled.value_counts()
print(value_counts_y)
# value_counts_X = X_resampled.value_counts()
# print(value_counts_X)

0    75036
1    75036
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [35]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

logisticregression_model = LogisticRegression(random_state=1)

# Fit the model using the resampled training data
lr_model_resampled_data  = logisticregression_model.fit(X_resampled, y_resampled)

# Make a prediction using the testing data
y_pred_resampled = lr_model.predict(X_resampled)


results_resampled = pd.DataFrame({"Prediction": y_pred_resampled, "Actual": y_resampled}).reset_index(drop=True)
results_resampled

        Prediction  Actual
0                0       0
1                0       0
2                0       0
3                0       0
4                0       0
...            ...     ...
150067           1       1
150068           1       1
150069           1       1
150070           1       1
150071           1       1

[150072 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [36]:
# Print the balanced_accuracy score of the model 
y_pred_resampled = lr_model.predict(X_resampled)
balanced_acc = balanced_accuracy_score(y_resampled, y_pred_resampled)

print("Balanced Accuracy Score:", balanced_acc)

Balanced Accuracy Score: 0.9945026387334079

In [37]:
# Generate a confusion matrix for the model
confunsion_matrix_resampled = confusion_matrix(y_resampled, y_pred_resampled)

# Print the confusion matrix for the testing data
print(confunsion_matrix_resampled)

[[74614   422]
 [  403 74633]]

In [38]:
# Print the classification report for the model

resampled_report = classification_report(y_resampled, y_pred_resampled)


print(resampled_report)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     75036
           1       0.99      0.99      0.99     75036

    accuracy                           0.99    150072
   macro avg       0.99      0.99      0.99    150072
weighted avg       0.99      0.99      0.99    150072

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model, trained with oversampled data, has The precision for both classes is 0.99, indicating that 99% of the predictions for both healthy and high-risk loans are accurate. This suggests that the model is highly reliable in classifying loans into these two categories.

Furthermore, the recall for both classes is also 0.99, meaning that the model correctly identifies 99% of the actual healthy loans and 99% of the actual high-risk loans. This high recall indicates that the model is effective in capturing the majority of loans in both categories.

The F1-score, which balances precision and recall, is also 0.99 for both classes. This demonstrates a harmonious balance between the ability to make accurate predictions (precision) and the ability to capture relevant instances (recall) for both healthy and high-risk loans.

In summary, the logistic regression model, trained with oversampled data, predict both healthy and high-risk loans with a high degree of accuracy, precision, recall, and F1-score